*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;           /* O conteúdo pode ocupar até 100% da largura */
  min-height: 60vh;      /* Garante que tenha uma altura mínima */
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #c8c8c8;
  width: 100vw;  /* Garante que ocupe 100% da largura da tela */
  overflow-x: hidden; /* Evita rolagem horizontal */
  display: flex; /* Se precisar alinhar algo no centro */
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  text-decoration: none; /* Remove o sublinhado de todos os links */
  color: inherit; /* Mantém a cor padrão do texto */
}

a:hover {
  text-decoration: none; /* Garante que não volte ao passar o mouse */
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .app-container {
    background-size: cover; /* Força cobertura total em telas pequenas */
  }
}
