.close-button {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: bold;
  color: #333; 
  cursor: pointer;
  padding: 0;
  line-height: 1;
  width: auto;
  height: auto;
  z-index: 10;

  outline: none; 
}

.close-button:hover,
.close-button:focus {
  color: red; 
  background: transparent; 
}
