.containerFooter{
    background-color: #006D39;
}

.footer{
    flex: 1;
    background-color: black;
    display: flex;
    width: 90%;
    color: rgb(255, 0, 0);
    margin: 40px auto 0 auto; /* top com espaço para o header, centralizado horizontalmente */
    margin-bottom: 40px;
}
.f{
    height: 400px;
    background-color: silver;
    margin: 10px;
    flex: 1;
}