/* Home.css - Versão Atualizada */
.layouHome {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#content, #section {
  width: 100%;
}

/* Responsividade */
@media (max-width: 1200px) {
  .layouHome {
    padding: 15px;
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .layouHome {
    padding: 10px;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .layouHome {
    gap: 15px;
  }
}