
.header-background {
 
  width: 100%;
  background-image: url('../../assets/fundoSite.png');
  background-repeat: no-repeat;
  background-size: auto 100%; 
  display: flex;
  justify-content: center;
  padding-top: 100px; 

  
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

#logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}
.logo-img {
  width: 400px;
  height: auto; /* mantém a proporção */
  
}

#nav {
  flex: 3;
  display: flex;
  justify-content: space-evenly; /* Mantém os itens com espaçamento igual */
  align-items: center;
  padding: 5px;
}

#loginRegister {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* Estilização dos menus */
.menu {
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
  text-align: center;
  white-space: nowrap; /* Impede quebra de linha */
  overflow: hidden; /* Esconde qualquer parte que ultrapasse */
  text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
  min-width: 50px; /* Define um tamanho mínimo para cada item */
  margin: 4px;
}

.menu a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Efeito ao passar o mouse */
.menu:hover {
  background-color:  #009951;;
}

/* Estilo para o menu ativo */
.menu.active {
  background-color: #006d39; 
}

.menu.active a {
  color: black;
}

/* Botões de login e registro */
#entrar, #registrar {
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

#entrar {
  background-color: #006d39;

}

#registrar {
  background-color: black;
  margin-left: 5px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  #nav.open {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  #loginRegister {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .menu {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
}
