h3{
    font-size: 40px;
}
.containerRecicle{
    background-color: #009951;
    
    flex: 1;
    color: rgb(0, 0, 0);
    margin: 100px auto 0 auto; /* top com espaço para o header, centralizado horizontalmente */
}
.imagemComTexto {
   
    width: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 8px; /* opcional, só pra estética */
  }
  