h3{
    font-size: 40px;
}
.containerRecicle{
    background-color: #009951;
    color: rgb(0, 0, 0);
    
}
#imagemComTexto {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  