/* Estilos específicos do Register */
.register-container {
  display: flex;
  width: 100%;
  min-height: 500px;
}

.register-container .register-left,
.register-container .register-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.register-container .register-logo-img {
  min-width: 200px; /* Opcional: define um tamanho mínimo */
  object-fit: contain; /* Mantém a proporção da imagem */
}

.register-container .register-title {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.register-container .register-subtitle {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 14px;
}

.register-container .register-form-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-container .register-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-container .register-form-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}

.register-container .register-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  gap: 10px;
}

.register-container .register-submit-button {
  background-color: #004d26;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
}

.register-container .register-submit-button:hover {
  background-color: #00331a;
}

.register-container .register-error-message {
  color: #d9534f;
  font-size: 14px;
  text-align: center;
}

.register-container .register-success-message {
  color: #5cb85c;
  font-size: 14px;
  text-align: center;
}

.register-container .register-login-link {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.register-container .register-login-link span {
  color: #a0ffc8;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
  }
  
  .register-container .register-left {
    padding: 40px 20px;
  }
}